<div class="container">

  <!--app-test></app-test-->
  <!--div style="display:flex;justify-content: space-evenly">
    <f-icon index="icon_network" text="Network"></f-icon>
    <f-icon index="icon_5g" text="5G" style="margin-top:60px"></f-icon>
    <f-icon index="icon_security" text="Cyber Security"></f-icon>
    <f-icon index="icon_entertainment" text="Entertainment" style="margin-top:60px"></f-icon>

    <f-icon index="icon_fieldOps" text="Field Operations"></f-icon>
    <f-icon index="icon_customerCare" text="Customer Care" style="margin-top:60px"></f-icon>
    <f-icon index="icon_iot" text="IoT"></f-icon>
    <f-icon index="icon_firstResponder" text="First Responders" style="margin-top:60px"></f-icon>

  </div-->

  <!--div class="content">
    
    <text-block [title]="title" [text]="text" delay="2000"></text-block>
    <text-block [title]="title2" [text]="text2" delay="2500"></text-block>
    <text-block [title]="title3" [text]="text3" delay="3000"></text-block>
  </div-->
  <br>

</div>

<!--div class="content2" >
    <img style="position: absolute;margin-left:50%;margin-top:150px" src="assets/shake.png" alt=""> 
    <img src="assets/vr_person.png" alt="">
    <h2  style="color:black;width: 400px;margin-top:60px">{{bottomtext}}</h2>
    <div>
        <img style="margin-top:100px" src="assets/car.png" alt="">
    </div>
   
</div-->
