.container {
    background-color: black;
    padding: 20px;
    background-image: url("assets/images/space_bg.png");

    background-size: cover;
    

    
}

.content {
    background-color: black;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px dashed #009fdb;
    display: flex;
    justify-content: space-between;
}

.content2 {
    background-color: black;
    border-top: 2px dashed #009fdb;
    display: flex;
    /* display:flex; */
    justify-content:space-between;
    
}