<bff-chat team="outreach" [user]="[admin, admin]" sessionid="1" network="outreach"></bff-chat>
<div class="container">


  <div class="header-1 font-blue">AT&T</div>
  <div class="text-1 font-white">
      AT&T Inc. is a world leader in communications, media, entertainment and technology.
      AT&T serves millions of consumers with video, broadband and voice services. Additionally, it provides highly secure solutions for millions of businesses globally.
  </div>

  <img src="assets\images\world.png" class="world-img"/>
  <div class="line-1"></div>
  <div class="line-2"></div>

  <div class="header-2">
      <span class="font-white">AT&T</span><span class="font-blue">Foundry</span>
      </div>
  <div class="text-2 font-white">
      The AT&T Foundry brings the expertise of AT&T innovators into a collaborative environment with industry technology
      providers, developers and sitartups to move ideas to market faster.
      The AT&T Foundry innovation centers are in 6 cities around the world, and since its inception has executed more than 500
      projects and deployed dozens of new products and services.
  </div>

  <div class="header-3">
        <span class="font-white">AT&TFoundry</span><span class="font-blue">Israel</span>
    </div>
    <div class="text-3 font-white">
        The AT&T Foundry in Israel is designed to drive business impact using innovative technology from within the eco system.
        We validate the technology, find the most suitable use case and take it to the relevant people in AT&T.
        Once a match is done, we accompany the startup through a POC in the business unit and try to take it all the way
        to commercialization.
    </div>

    <div class="line-3"></div>
    <div class="line-4"></div>

  <div class="header-4">
      <span class="font-white">Wanted</span><span class="font-blue">Technologies</span>
    </div>

    <div class="wanted-tech">
        <f-icon class="icon-row-1 icon-col-1"
                [location]="[1,1]"
                image="icon_network"
                text="Network"
                desc="As a leader in communications, AT&T facilitates a huge network and maintains it. All network areas ar valid: Performance, Optimization, Cloud Management, Virtualization ..."
            ></f-icon>
        <f-icon class="icon-row-2 icon-col-2"
                [location]="[2,2]"
                image="icon_5g"
                text="5G"
                desc="Lorem ipsum lorem quam amet hendrerit curabitur facilisis, urna lectus tellus praesent tincidunt ad egestas molestie, primis duis lorem imperdiet sapien cursus."
            ></f-icon>
        <f-icon class="icon-row-1 icon-col-3"
                [location]="[1,3]"
                image="icon_security"
                text="Cyber Security"
                desc="Tortor blandit elit dictum a nostra consectetur mattis habitant lacus, sociosqu torquent suscipit curabitur dictum quisque pellentesque sem maecenas phasellus, nisi taciti hendrerit placerat risus magna at potenti."
            ></f-icon>
        <f-icon class="icon-row-1 icon-col-5"
                [location]="[1,5]"
                image="icon_entertainment"
                text="Entertainment"
                desc="Posuere fringilla interdum molestie egestas lobortis dapibus a enim neque habitant dapibus vitae, laoreet pellentesque curabitur orci habitant ante eros feugiat ultricies viverra scelerisque morbi lobortis ac vehicula arcu sapien mollis est vulputate fermentum potenti."
            ></f-icon>
        <f-icon class="icon-row-3 icon-col-1"
                [location]="[3,1]"
                image="icon_fieldOps"
                text="Field Operations"
                desc="Libero sed velit nibh mi tincidunt senectus cursus interdum taciti, accumsan tellus felis non elit ac quisque auctor, tempus congue porttitor dictumst habitant quisque elit integer."
            ></f-icon>
        <f-icon class="icon-row-3 icon-col-3"
                [location]="[3,3]"
                image="icon_customerCare"
                text="Customer Care"
                desc="Pretium congue dolor mattis euismod nulla praesent ante, at ligula morbi conubia viverra blandit ullamcorper, diam ultricies risus donec purus sapien suscipit lorem ipsum faucibus laoreet."
            ></f-icon>
        <f-icon class="icon-row-2 icon-col-4"
                [location]="[2,4]"
                image="icon_iot"
                text="IoT"
                desc="Mauris litora est dapibus est curae quisque aenean duis congue."
            ></f-icon>
        <f-icon class="icon-row-3 icon-col-5"
                [location]="[3,5]"
                image="icon_firstResponder"
                text="First Responders"
                desc="Elementum faucibus pulvinar curabitur ultrices luctus integer, malesuada class pulvinar sagittis et, tempus purus sed auctor et."
            ></f-icon>

    </div>
</div>
