<div *ngIf="enabled">
  <chat-window #chatWindow [chatlist]="chatlist" (onMessage)="addMyMessage($event)" (onclose)="close()"></chat-window>

  <div #bffmain class="container" (click)="onmouseOver()">

    <div *ngIf="!isOpen" class="bubble"></div>
    <span *ngIf="isOpen" class="comment-section">

      <div *ngIf="currentAnswear.end==true" style="margin:8px 0 0 10px;text-align: center">
        <button (click)="onstartOver()">start over</button>
      </div>

      <div *ngIf="currentAnswear.uitype==0">
        <input #inp class="input-field" type="text" (keyup)="onkeyup($event)" placeholder="comment / ask me something">
        <button [disabled]="!inp.value" class="send-butn" (click)="onInputClick()">
          <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->send
        </button>
      </div>

      <div [ngSwitch]="currentAnswear?.uitype" *ngIf="currentAnswear.options" style="margin:8px 0 0 10px;text-align: center">
        <ng-container *ngSwitchCase="1">
          <button *ngFor="let butn of currentAnswear.options" (click)="butnClick(butn)">{{butn.title}}</button>
        </ng-container>

        <ng-container *ngSwitchCase="2" style="text-align: center;" class="slidecontainer">
          <input #myRange type="range" [min]="(currentAnswear.payload[0]-1)" [max]="currentAnswear.payload[1]" [value]="rate"
            class="slider" (change)="onSlideChange($event)">

          <span style="margin-left:25%;display:flex;width:50%;text-align: center;justify-content:space-evenly">
            <small *ngFor="let item of [0,1,2,3,4,5]">{{item?item:' '}}</small>
          </span>
        </ng-container>

        <ng-container *ngSwitchCase="3" style="text-align: center; height:100px;">

          <div class="multi-select-group">
            <div *ngFor="let item of currentAnswear.payload" [class]="isChkboxSelected(item)?'select-item-selected':'select-item'"
              (click)="chkboxSelected(item)">
              <input style="display:none" type="checkbox" name="chkbx" [value]="item" label="item" autocomplete="off">
              <!-- <span class="fa fa-key fa-2x"></span> -->
              <label style="color:white;pointer-events: none" for="chkbx">{{item}}</label>
            </div>
          </div>

          <button style="margin:0px 10px;" (click)="multiSelectDoneClick(currentAnswear)">done</button>

        </ng-container>
      </div>

      <p style="margin-left:20px;color:white" *ngIf="sended">message sent</p>
    </span>

  </div>

  <span *ngIf="isOpen" class="anywhereButn">click anywhere to close</span>
  <div #mask *ngIf="isOpen" class="mask" (click)="onmaskClick()">
  </div>

</div>